* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#container-fluid {
    background-image: url(assets/hero-gradient-bg.png);
    background-size: cover;
}

.round-hero {
    background-color: #faf9f8d1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    margin: auto;
    padding: 5px;
    border-radius: 15px;
    margin-top: 7rem;
}

.box-1 img {
    width: 30px;
    border: 5px solid white;
    border-radius: 50px;
}

.box-1 {
    padding-right: 10px;
}

.box-2 {
    padding-right: 10px;
}

.box-3 {
    padding-right: 10px;
}

.box-4 {
    padding-right: 10px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#wrap {
    display: flex;
    flex-wrap: wrap;
}
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  padding-top: 40px;
}

.profile {
  width: 18%;          
  margin-bottom: 40px;
}

.profile img {
  width: 100%;
  height: 18rem;
  border-radius: 16px;
  display: block;
}

.profile h2 {
  margin: 20px 0 8px;
  font-size: 22px;
  font-weight: 600;
  color: #222;
}

.profile p {
  margin: 0;
  color: #777;
  font-size: 15px;
}

@media (max-width: 992px) {
  .profile {
    width: 30%;
  }
}

@media (max-width: 600px) {
  .profile {
    width: 100%;
  }
}